<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles2.css">
</head>
<body>
    <div class = 'main_login'>
        <div class = 'left_login'>
            <h1>Escolha o <span>Tipo</span> <br> de usuário que você é &#129473;</h1>
            <img src="/static/cherry-pie-slice-animate (1).svg" class="bolo" alt="Torta">
        </div>
        <div class= 'right_login'>
            <div class = 'card_login'>
                <h1>Tipo</h1>
                <div class = 'text_escolha'>
                    <a href="/login"><button class = 'botao_escolha' type="submit" value="entrar">Cliente</button></a>
                    <a href="/loginadm"><button class = 'botao_escolha' type="submit" value="entrar">Admin</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>