<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/produtos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Paçoca+</title>
</head>
<body>
    <div class="navbar">
        <div class= 'header-inner-content'>
            <h1 class = 'logo'>Candys+</h1>
            <nav>
                <ul>
                    <li>Início</li>
                    <li>Produtos</li>
                    <li>Minha conta</li>
                </ul>
            </nav>
            <div class="nav-icon-container">
                <a href="/carrinhodecompra"><img src="/static/cart.png" alt=""></a>
            </div>
        </div>
    </div>
    <header>
    
        <div class="header-inner-content">
            <div class="header-bottom-side"> 
                <div class="header-bottom-side-left">
                    <h2>Docin mais vendido do mês nhamenhamme</h2>
                    <p>gastaro dinheiro todo nisso aq os balofin de mamain
                    </p>
                    <button>Veja agora!</button>
                </div>
                <div class="header-bottom-side-right">
                    <img src="/static/100_sofia_rosa_bolo_inteiro_540x400px.png" alt="">
                </div>
            </div>
    </header>
    <main>
        <div class="purple-background">
            <div class="page-inner-content">
                <div class="cols cols-3">
                    <img src="/static/Tartelete-de-Morango-com-Nutella_540x400px.png" alt="">
                    <img src="/static/bolo 1.png" alt="">
                    <img src="/static/doce 3.png" alt="">
                </div>
            </div>
        </div>

        <div class="page-inner-content">
            <h3 class="section-title">Produtos Selecionados</h3>
            <div class="subtitle-underline"></div>
            <div class="cols cols-4">
                <div class="product">
                    <img src="/static/div 1.1.png" alt="">
                    <p class="product-name">Sofia Rosa</p>
                    <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <p class="product-price"><span>R$</span> 80.000.000.000,00</p>
                </div>
                <div class="product">
                    <img src="/static/div 1.2.png" alt="">
                    <p class="product-name">Nozes</p>
                    <p class="rate">&#9733;&#9733;&#9734;&#9734;&#9734;</p>
                    <p class="product-price"><span>R$</span> 0,5</p>
                </div>
                <div class="product">
                    <img src="/static/div 1.3.png" alt="">
                    <p class="product-name">Chifon</p>
                    <p class="rate">&#9734;&#9734;&#9734;&#9734;&#9734;</p>
                    <p class="product-price"><span>R$</span> 700.000,00</p>
                </div>
                <div class="product">
                    <img src="/static/div 1.4.png" alt="">
                    <p class="product-name">Delícia de Leite Trufado</p>
                    <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p class="product-price"><span>R$</span> 0,0.1</p>
                </div>
            </div>
        </div>
        <div>
            <div class="page-inner-content">
                <h3 class="section-title">Indicação da chefia julia :3</h3>
                <div class="subtitle-underline"></div>
                <div class="cols cols-4">
                    <div class="product">
                        <img src="/static/doce 2.1.png" alt="">
                        <p class="product-name">Bombom de Café</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price"><span>R$</span> 9000.0000.000.00,00</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 2.2.png" alt="">
                        <p class="product-name">Cartola</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price"><span>R$</span> 5,00</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 2.3.png" alt="">
                        <p class="product-name">Tartelete Nevado com NUTELLA</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price"><span>R$</span> 30.000,00</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 3.4.png" alt="">
                        <p class="product-name">Torta Cookie com NUTELLA</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price"><span>R$</span> 0,20</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 3.1.png" alt="">
                        <p class="product-name">Trufinha de Leite Ninho com Avelã</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price"><span>R$</span> 20.000.000.000,00</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 3.2.png" alt="">
                        <p class="product-name">Brigadeiro Gourmet Ao Leite</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price"><span>R$</span> 35,00</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 3.3.png" alt="">
                        <p class="product-name">Caseirinho Crispy com NUTELLA</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p class="product-price"><span>R$</span>2,50</p>
                    </div>
                    <div class="product">
                        <img src="/static/doce 2.4.png" alt="">
                        <p class="product-name">Abóbora com Cocada</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p class="product-price"><span>R$</span>0,00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="purple-background">
            <div class="header-inner-content">
                <div class="header-bottom-side exclusive-container"> 
                    <div class="header-bottom-side-left">
                        <h2>bolin red velvet</h2>
                        <p>dale neste saboroso e gostosinho
                            bolinho red velvet nhamenhamme
                        </p>
                        <button>Compre agora!</button>
                    </div>
                    <div class="header-bottom-side-right">
                        <img src="/static/130_bolo_de_red_velvet_brasil_540x400px.png" alt="">
                    </div>
                </div>
        </div>
    </main>
</body>
</html>